---
import Layout from "@/layouts/Layout.astro"
import { getPublicacionById } from '@/services/postService';
const {id} = Astro.params

let publi

if(id){
    publi = await getPublicacionById(id);
}
---

<Layout title="xd">
    <div class="relative flex py-4 items-center justify-between">
        <a class="p-2 rounded-lg bg-blue-600" href="/publicaciones">Volver</a>
        <h3 class="absolute left-1/2 transform -translate-x-1/2 text-center">{publi.titulo}</h3>
        <div class="ml-auto">
            <time datetime="">{publi.created_at}</time>
        </div>
    </div>
    <p>{publi.contenido}</p>
    <img src={`http://localhost:8000/storage/${publi.imagen}`} alt={publi.imagen} />
</Layout>