---
interface Props{
    servicio:string,
    src:string,
    p:string,
    boton?:boolean
}
const {servicio, src, p, boton} = Astro.props
---
<article>
    <div class="flex justify-between mb-2 items-center">
        <h3 class="text-white font-bold text-xl" id={servicio}>{servicio}</h3>
        <a class=`bg-[#acf1bd] font-semibold text-[#003449] rounded-xl text-center ${boton ? "p-2":""}` href={`./de-apoyo/${servicio}`}>{boton ? "explorar":""}</a>
    </div>
    <section class="flex items-center rounded-lg bg-[#165269] justify-center">
        <picture class="flex-[90%]">
            <img src=`/img/Servicios/${src}` alt="" class="rounded-l-lg bg-white w-full">
        </picture>
        <p class="p-4">{p}</p>
    </section>
</article>